*.iml
.gradle
/local.properties
.idea/
/.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services Config
google-services.json

# Keystores & Signing
*.jks
*.keystore
*.pepk

# Logs & temp
*.log
.navigation/
captures/
